/*
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
/**
 * The following styles are for react-bootstrap. 
 */
.modal-container {
   position: relative;
 }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
 }

.help-block-custom {
    display: block;
    margin: 5px 0 10px 0;
    color: #b70303;
}

table.dataTable thead .sorting {
    background: url(/images/sort_both.png) no-repeat center right;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    cursor: pointer;
}

table.dataTable thead .sorting_asc {
    background: url(/images/sort_asc.png) no-repeat center right;
}

table.dataTable thead .sorting_desc {
    background: url(/images/sort_desc.png) no-repeat center right;
}
